

html, body {
  background: #000;
  color: #FFF;
  font-family: -apple-system, -webkit-system;
  font-weight: 200;
  font-size: 1.2em;
  text-align: right;
  margin: 0;
  padding: 0;
}

.sm {
  font-size: 0.7em;
}

.med {
  font-size: 2em;
}

.lrg {
  font-size: 3em;
}
