<div class="med">
  {{moment-format model 'dddd [the] Do'}}
</div>

<div class="lrg">
  {{moment-format model 'h:mm:ss'}}
</div>

{{live-weather
  now=model
  key=bag.darkSkyApiKey
  latitude=bag.geoLatitude
  longitude=bag.geoLongitude}}

{{!-- BIRTHDAYS --}}

{{!-- CHORES --}}

{{!-- VTA --}}

{{!-- CALENDAR --}}

{{!-- TRAFFIC --}}

{{!-- GREETING --}}
